[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"

[dev-packages]
black = "*"
pylint = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"
pytest-sugar = "*"

[pipenv]
allow_prereleases = true

[scripts]
server = "python run.py -d --port 5000 --host localhost"
test = "./scripts/test.sh"
cover = "./scripts/cover.sh"
lint = "./scripts/lint.sh"
build-image = "./scripts/create-docker-image.sh"
run-image = "./scripts/run-docker-image.sh"
