<!doctype html><!-- This page is the html page that is loaded and displayed when the register button is pressed -->
<html>
	<head>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
		<title>Create an Account</title>
		<style>
			h1 {
				margin: 50px 0;
			}
			fieldset span {
				//margin-right: 20px;
			}

			fieldset div {
				margin-top: 25px;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
         		<span class="icon-bar"></span>
       		</a>
			Already have an account? <a class="brand" href="/">Login</a><br>
			<div class="nav-collapse collapse">
				<ul class="nav" id="main-menu-left">
					{% for link_href, link_name, link_text in navigation_items %}
						<li
							{% if link_name == active_page %} class="active"{% endif%}>
							<a href="{{ link_href|e }}">{{ link_text|e }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="container">
			<div class="row-fluid">
				<h1 style="text-align: center;">Create an Account</h1>
			</div>
			<div class="row-fluid text-center">
				<form class="form-horizontal well" method="post" action="/register/">
				<fieldset>
					<div style="margin-top: 0;"><span>Username:  </span><input type="text" name="username" class="input-xlarge" required/></div>
					<div><span>Password:  </span><input type="password" class="input-xlarge" name="password"  required/></div>
					<div><span>Is a Teacher? </span><input type="checkbox" name="isTeacher" value="1"/></div>
					<div><span>Name: </span><input type="text" class="input-xlarge" name="name"  required/></div>
					<div><span>Email: </span><input type="email" class="input-xlarge"name="email"  required/></div>
					<div><input type="submit" class="btn btn-primary btn-large" value="Submit"></div>
					{% with messages = get_flashed_messages() %}
						{% if messages %}
							{% for message in messages %}
								<div class="alert alert-success" style="margin: 0 auto;">
									<strong>{{ message }}</strong>
								</div>
							{% endfor %}
						{% endif %}
					{% endwith %}
				</fieldset>
				</form>
				<!--<form method="POST" action="/register/">
					<input type="text" name="username" />
					<input type="submit" value="submit"/>
				</form>-->
			</div>
		</div>
	</body>
</html>
