<!--Includes links like teacher dashboard and message flashing-->

<!doctype html>
<html>
	<head>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
		<link href="/static/css/nav.css" rel="stylesheet" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}{% endblock %}</title>
		<style>
			main {
				margin-top: 70px;
			}
			h1 {
				border-bottom: 1px solid #ccc;
				padding-bottom: 10px;
				margin-bottom: 20px;
			}
			h2 {
				font-size: 26px;
			}
		</style>
	</head>
	<body>
		<!-- simple list-style navbar -->
		<header>
		<div class="navbar">
			<ul>
				<li> <a href="/teachers/">Dashboard</a></li>
				<li style="float:right;"> <a href="/logout/">Logout</a></li>
			</ul>
		</div>
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					<div class="span12">
						{% for message in messages %}
							<div class="alert alert-info">
								{{ message }}
							</div>
						{% endfor %}
					</div>
				{% endif %}
			{% endwith %}
		</header>
		<main>
			{% block body %}{% endblock %}
		</main>
		<script
			src="https://code.jquery.com/jquery-3.4.0.min.js"
			integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
			crossorigin="anonymous">
		</script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	</body>
</html>
