.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #DDDDFF;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
}
