{% extends "/students/base_template.html" %}
	{% block title %}Quiz: {{quiz_name}}{% endblock %}
	{% block body %}
		<style>
			ul {
				list-style-type: none;
				margin: 0;
			}

			input.answer {
				margin-right: 15px;
			}

			div.answer-div {
				padding: 5px 0;
			}
		</style>
		<div class="container">
			<div class="row">
				<div class="span12">
					<h1>Quiz: {{quiz_name}}</h1>
				</div>
			</div>
			<div class="row">
				{% if questions %}
				<div class="span4">
					<form id="quiz" method='POST' action='/students/classes/{{class_id}}/quizzes/{{quiz_id}}/grade/'>
						<fieldset>
							{% for question in questions %}
								<span style="font-size: large; font-style: bold;">{{ loop.index }})</span>
								<span style="font-size: medium; font-style: italic;">{{ question.text }}</span>
								{% if question.type == 1 %}
									{% for answer in question.answers %}
										<div class="answer-div">
											<input required type="radio" name="{{question.id}}" class="answer" value="{{loop.index}}"/>
												<span>{{answer}}</span>
										</div>
									{% endfor %}
								{% else %}
									<div class="answer-div">
										<textarea required name="{{question.id}}" rows="4" cols="88" wrap="hard" placeholder="Enter your answer here" name="response" ></textarea>
									</div>
								{% endif %}
								<br/>
							{% endfor %}
							<input type="submit" class="btn btn-primary" />
						</fieldset>
					</form>
				</div>

				{% endif %}
			</div>
		</div>
	{% endblock %}
